body {
	padding-top: 70px;
	background-image: url(../img/carbon-fiber.jpg);
	background-attachment: fixed;
}

a:link,
a:hover,
a:active,
a:visited, {
	text-decoration: none; /* Removes small, glitchy underline when clicked. */
}

.navbar-inverse {
	background-color: silver;
	color: #000;
}

.navbar-inverse .navbar-brand {
	color: #000;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #9d9d9d;
}

.navbar-inverse .navbar-nav>li>a {
	color: #000;
}

.jumbotron {
	background-color: silver;
}

h1,
h3 { text-align: center; }

.flex {
	display: flex;
	flex-wrap: wrap;
}

.thumbnail {
	background-color: transparent;
	border: none;
}

.a-cite {
	background-color: black;
	color: white;
	text-decoration: none;
	padding: 4px 6px;
	font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2;
	display: inline-block;
	border-radius: 3px;
	position: absolute;
	z-index: 2;
	bottom: 28px;
	right: 24px;
}

.svg-cite {
	 height: 12px;
	 width: auto;
	 position: relative;
	 vertical-align: middle;
	 top: -1px;
	 fill: white;
}

.span-cite {
	display: inline-block;
	padding: 2px 3px;
}